.container {
    padding: 20px;
    background-color: #53c28b;
    color: white;
    border: none;
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}